[2021-09-20 09:06] meteorcloudy opened #7 "Modularize core Bazel dependencies"
Dependencies of the Bazel project itself should be added into the Bazel Central Registry:

- [x] bazel_skylib
- [x] bazel_skydoc
- [x] com_google_protobuf
- [x] platforms
- [x] rules_cc
- [x] rules_java
- [x] rules_proto
- [x] rules_pkg
- [x] rules_python
- [x] rules_nodejs
- [ ] rules_sass
- [x] grpc
- [x] upb
- [x] c-ares
- [x] zlib
- [x] abseil-cpp
- [x] re2
- [x] boringssl

Blockers:

- [x] ba

[2021-09-24 13:08] meteorcloudy commented on #7
Blocker for this issue: rules_cc don't have official releases, therefore we cannot check in a specific version.

https://github.com/bazelbuild/rules_cc/issues/91

[2021-09-24 13:12] meteorcloudy commented on #7
[stardoc](https://github.com/bazelbuild/stardoc) also hasn't have new releases for a while and Bazel is using a commit that is newer than its latest release.

[2021-09-24 13:22] Wyverald commented on #7
Can't we just download any commit from github as a zip? Like https://github.com/bazelbuild/rules_cc/archive/6c5c8e9b41e6427033dd011f8ce52a1f2532abdc.zip, and then just make it version "0.0.0-20210924-6c5c8e9b" or something

[2021-09-24 13:23] meteorcloudy commented on #7
We can certainly do that as a workaround, but ideally projects rules_cc should have official releases.

[2021-09-24 13:24] Wyverald commented on #7
another way to go about this is to have source.json support git commits too; so instead of specifying an archive from a URL, you could alternatively specify a git repo and a commit/tag.

Agreed.

[2021-09-24 13:25] meteorcloudy commented on #7
But you still need a fake comparable version for that right?

[2021-09-24 13:26] meteorcloudy commented on #7
In generally, I would like people to check in well-tested release versions of their project in to BCR, instead of a random commit.

[2021-09-24 13:47] Wyverald commented on #7
Yeah, the only difference is that a URL like GitHub's to download an arbitrary commit as a zip isn't always available (for example, for your company's own git repos).

That's fair -- I think we should make more effort to push projects such as rules_cc to make a release then (potentially doing it ourselves). I just don't want us to be stuck in a limbo where rules_cc is reluctant to make a release,

[2021-09-24 13:49] meteorcloudy commented on #7
Oh, of course, making a new release shouldn't be too hard (hopefully) and we have many other dependencies to check in.

[2021-09-24 15:29] alexeagle commented on #7
Wait, is this registry for Bazel's use or the community? If zlib goes here, does that mean other C++ libraries can be contributed by users? You'll have hundreds of "modules" here very quickly.

[2021-09-24 15:33] Wyverald commented on #7
This is for use by the community. Other C++ libraries can indeed be contributed by users.

Scalability has always been a concern of mine, but similar projects (notably Homebrew, and to some extent Debian) have functioned well with this pattern, so I think we should be able to manage.

[2021-09-24 16:43] alexeagle commented on #7
there is another difference which is that integrity hashes of github's archive downloads are not stable. They sometimes rollout upgrades to their frontend nodes where the `tar` or `zip` command run and those have small variation. The registry should probably strongly advise and/or enforce only release/ URLs are used, where the integrity matches what the rule maintainer uploaded

[2021-09-27 09:49] meteorcloudy commented on #7
That's a good point. To mitigate this, we also mirror all archive URLs to a GCS bucket.
See https://buildkite.com/bazel/bcr-postsubmit/builds/7#eb1a86ce-5b1a-461c-9f87-cf2f1b20a78c

[2021-09-27 16:26] alexeagle commented on #7
oh this is a place to automate the mirroring of new releases, that's a great improvement. of course if GitHub changes, you'll have one correct mirror and one incorrect one.

[2021-11-19 17:00] pcj opened #32 "Namespace"
Currently `modules/` directory has a flat namespace, somewhat like npm or pypi.  However, I would recommend allowing a github like repo syntax.  So instead of `foo`, adopt a structure like `github.com/bazelbuild/foo`.  This would allow a more conflict-free approach to names, and naturally reflects the location where the dependency is hosted/managed.

[2021-11-19 19:57] alexeagle commented on #32
I mentioned this as well: https://github.com/bazelbuild/bazel-central-registry/pull/19#issuecomment-948015345

[2021-11-24 16:13] fmeum opened #36 "Content of `MODULE.bazel` in the BCR"
I am working on porting a ruleset to Bazel modules that uses dev dependencies, e.g. to support the tests for the presubmit checks. I am not sure whether the `MODULE.bazel` checked into the BCR should

1. be identical to the one in the rulesets repo, including dev dependencies or
2. contain only the non-dev dependencies, as there are the only ones relevant for dependency resolution when loaded as a

[2021-11-25 15:37] meteorcloudy commented on #32
But then how do people use this module in their MODULE.bazel file?
`name = "foo"` doesn't work, because Bzlmod won't know where to find "foo", if it's `name = "github.com/bazelbuild/foo"` then that's no difference than naming your module "com_github_bazelbuild_foo" in the flat namespace.

[2021-11-25 15:47] meteorcloudy commented on #36
Dev dependencies are ignored during dependency resolution for all modules except for the root module. So there is no functional difference between those two approaches.

In addition, you can use [--ignore_dev_dependency](https://docs.bazel.build/versions/main/command-line-reference.html#flag--check_direct_dependencies) to disable dev dependencies of the root module, so that you can test the target

[2021-11-25 18:42] fmeum commented on #36
In that case I'll probably keep the dev dependencies at the end of my repo's `MODULE.bazel` and strip them from the copy I check in to the BCR. Thanks!

[2021-11-25 18:42] #36 closed

[2021-12-15 18:39] alexeagle opened #41 "Automate release mirroring"
In the common case, ruleset releases will require a trivial PR to this repo to add the new release version. The trivial PR just copies the existing registration, with a bumped version number and content integrity hash.

Currently, maintainers like me have multiple ruleset releases per week, and it will be a lot of added burden to manually operate the BCR process to keep these up-to-date.

Proposal

[2021-12-15 18:45] Wyverald commented on #41
This sounds interesting! Is it possible for the automation to be on the ruleset's side? (as in, every time I push a new release, send a corresponding PR to BCR) I think that makes a bit more sense than BCR having a cronjob.

re the "stretch": it's not actually much of a stretch at all -- the BCR postsubmit automatically mirrors modules to mirror.bazel.build already.

[2021-12-16 02:29] alexeagle commented on #41
Sure, individual rulesets could set this up on their own. I think that distributes the work where it could be centralized, means copies of it will diverge. Many users won't discover it. So I think it's better done here.

[2021-12-16 03:01] alexeagle commented on #41
Hm, we don't even collect the data for this right now.

I think the closest we have to "what GH repos to check for releases greater than X" is
[code]
but some of these are docsites, links to readmes. We can try to clean up the data a bit, in most cases it's not hard to recover the github project.

I suppose another option is to correlate this with the source.json files, this data looks cleaner
[co

[2021-12-17 10:41] jsharpe opened #46 "Use bzlmod itself for dependencies of the Python scripts (e.g. add_module.py)"
The helper script has a dependency on colorama but this is not documented in the instructions. Is it worth providing a requirements.txt file for this?
Could this be automated by making the helper script a bazel target in this repo so consumers can just do `bazel run //tools:add_module`?

[2021-12-21 12:30] #7 closed

[2022-01-07 11:34] shs96c commented on #46
A `bazel run` target would be ideal, and show that the tooling we're building is sufficient to do productive work.

[2022-01-07 11:38] shs96c opened #54 "`./tools/add_module.py` depends on `yaml` but this is not documented"
Not only does `add_module.py` depend on `colorama` (#46) but it also has an undeclared dependency on `yaml`.

If we really believe that `bzlmod` is sufficient for developers, this should be handled by a `MODULE.bazel` file that uses `rules_python` to import the required third party deps, and then a simple `bazel run //tools:add_module` should be enough to bootstrap a new dependency. But configurin

[2022-01-07 14:51] shs96c opened #55 "Downloads from `./tools/registry.py` don't use `$HOME/.netrc`"
This means that if you're trying to set up an on-prem registry with entries for resources that need authentication to access the incorrect SHA is calculated for the archive, preventing the module being used at all.

[2022-01-07 14:56] shs96c opened #56 "No documentation for how to iteratively develop modules"
There is no documentation for how to develop modules linked to from this repo. Could there please be a link to _something_ to help people adopt `bzlmod`?

For reference, the process seems to be:

1. Create a clone of the registry
2. Add your ruleset to that using `./tools/add_module.py`
3. Point to the `file` URI of the registry in a project that uses the ruleset
4. Realise that you need to make a

[2022-01-07 14:57] shs96c opened #57 "No tooling for updating the "integrity" field of `source.json`"
When developing modules, it's useful to be able to make iterative changes without doing a full release of a ruleset. In order to do this, the `integrity` field must be recalculated. How to do this needs to be automated or documented.

[2022-01-07 14:58] shs96c commented on #57
For reference, the key appears to be a base64 encoded version of the sha256 of the archive to download.

[2022-01-07 15:07] Wyverald commented on #57
You're not supposed to develop modules using the registry. On the contrary, you should develop your project as you normally would, and when it's released, add it to the registry.

For the record, the `integrity` field follows the [subresource integrity metadata format](https://w3c.github.io/webappsec-subresource-integrity/#integrity-metadata-description), as is documented in the [Bzlmod user guide

[2022-01-07 15:10] Wyverald commented on #56
Could you describe what you're actually trying to do? _Why_ do you want to "iteratively develop modules linked to from this repo"? I would expect most rules maintainers to keep developing / iterating their projects as they normally would, and then look at adding it to the registry.

[2022-01-07 15:14] Wyverald commented on #54
Marking as dupe of #46.

[2022-01-07 15:14] #54 closed

[2022-01-07 15:30] shs96c commented on #57
I'm working on getting `rules_jvm_external` up and running with `bzlmod`, so I'm making changes in a fork of that repo, pushing to there, and then modifying a local clone of the registry so that I can try using the modularised `rules_jvm_external` in a different project.

[2022-01-07 15:35] Wyverald commented on #57
It sounds like using an [override](https://docs.bazel.build/versions/main/bzlmod.html#modulebazel) (in particular, [`local_path_override`](https://docs.bazel.build/versions/main/skylark/lib/globals.html#local_path_override)) on `rules_jvm_external` in that different project might suit your use case much better.

[2022-01-07 15:35] shs96c commented on #56
I'm new to module development, and I'm attempting to migrate `rules_jvm_external`'s `maven_install` from something that's run in the workspace to be modularised. I have "`project`" that depends on the `rules_jvm_external` module, but I need to keep making changes to `rules_jvm_external` as I'm developing the feature.

[2022-01-07 17:26] shs96c commented on #57
Can those be added on the command line, similar to `--override_repository`?

[2022-01-07 17:29] alexeagle commented on #57
I just used `--registry=file:///path/to/bcr-fork` to do a similar workflow

[2022-01-10 12:40] Wyverald commented on #57
Not right now, but maybe it's a good idea to add that for development? @meteorcloudy wdyt?

[2022-01-10 13:16] meteorcloudy commented on #57
Yes, I was actually thinking about how could we run downstream test more easily (eg. to see if version 1.1 of module X breaks other modules which depend on X 1.0), if we have a flag to override a module then we don't have to mess with the MODULE.bazel file.

[2022-01-11 13:15] #57 closed

[2022-01-11 13:15] Wyverald commented on #56
Closing in favor of https://github.com/bazelbuild/bazel/issues/14552

[2022-01-11 13:15] #56 closed

[2022-02-04 11:11] fmeum opened #69 "Ensure all archives in the BCR are guaranteed to be stable"
I did a quick grep of the BCR and noticed that a number of modules reference GitHub archives that are not guaranteed to be stable (see https://github.com/bazel-contrib/SIG-rules-authors/issues/11#issuecomment-1029861300 for context):

- [x] aspect_rules_swc
- [ ] boringssl
- [x] zlib
- [x] aspect_rules_js
- [x] zstd-jni
- [x] aspect_bazel_lib
- [ ] upb

All these modules will have to be modified t

[2022-02-08 11:04] silvergasp commented on #32
Are you suggesting this then become *the* accepted method for namespacing, going forward? Or is this a free for all?

To be clear, I'm impartial to what the naming schema ends up being. But developing some guidelines/rules around this would be useful.

As a concrete example, I maintain a set of rules under [bazelembembedded/rules_cc_toolchain](https://github.com/bazelembedded/rules_cc_toolchain) .

[2022-04-06 22:42] alexeagle commented on #69
I'd suggest a linter/CI check for this, rather than just cleaning up the existing violations.

[2022-04-11 12:38] tkoeppe opened #76 "abseil-cpp is missing dependency on googletest?"
When importing abseil-cpp, I get the following error:

```[...]/external/abseil-cpp.20210324.2/absl/hash/BUILD.bazel:54:11: no such package '@com_google_googletest//': The repository '@com_google_googletest' could not be resolved: Repository '@com_google_googletest' is not visible from repository '@abseil-cpp.20210324.2' and referenced by '@abseil-cpp.20210324.2//absl/hash:hash_testing'```

Is the

[2022-04-11 14:18] tkoeppe commented on #76
Mind you, I am _not_ buldin `@com_google_absl//...` (I renamed the import); but `@//...` -- i.e. my _own_ repo. I don't think importing an external repo should leak into the `@`-space, should it?

[2022-04-11 14:22] tkoeppe commented on #76
Ah no, never mind! I _do_ depend on :hash_testing directly. Sorry!

[2022-04-11 14:33] Wyverald commented on #76
Ah. This could be a "feature"-like feature that we're still missing. `:hash_testing` does look like a public API, but probably not every dependent of Abseil wants to use it, and hence they might not want a dependency on googletest at all.

Right now, Abseil either has a dependency on googletest, or doesn't; it cannot "sometimes" depend on googletest. In Cargo for example this is solved by "feature

[2022-04-13 01:58] yaojingguo opened #77 "c-ares module: missing symbols"
The BUILD file:
[code]

The C++ source file: async_dns.cc:
[code]

Use Bazel to build the C++ source file:
[code]
The build shows that some symbols such as `_ares__freeaddrinfo_nodes` are missing. And a check of `libares.lo` confirms that `_ares__freeaddrinfo_nodes` is undefined:

[code]

`ares__freeaddrinfo_nodes` is contained in https://github.com/c-ares/c-ares/blob/cares-1_16_1/ares_freeaddrinf

[2022-04-13 10:28] meteorcloudy commented on #77
@[yaojingguo](https://github.com/yaojingguo) do you mind sending a patch to fix the BUILD file patch?

[2022-04-13 12:48] yaojingguo commented on #77
I will have a try.

@meteorcloudy

[2022-04-13 12:54] meteorcloudy commented on #77
Thank you!!

[2022-04-22 10:29] #77 closed

[2022-05-19 09:09] meteorcloudy commented on #69
Most unstable URLs have been fixed, thanks to https://github.com/bazelbuild/bazel-central-registry/pull/84

We still need to figure out what to do with upb and boringssl, see https://github.com/bazelbuild/bazel-central-registry/pull/84#issuecomment-1129320522

[2022-05-21 03:00] aiuto opened #89 "The automatic list of reviewers is inappropriate."
It seems to have random OSPO people, jhfield, and some people who are no long on the team.

[2022-05-21 03:03] aiuto commented on #41
Even if we don't auto-mirror, could we have multiple source URLs so we cna list the mirrors ourselves.

As a bonus.... if we enter a canonical github path, can the script check to see that the file is mirrored to the bazelbuild mirror,  and add the second url.

[2022-05-23 19:26] alexeagle commented on #41
I forgot about this issue - @kormide is working on it , and @meteorcloudy helped us install https://github.com/apps/publish-to-bcr as a likely way to roll this out

[2022-06-13 12:53] meteorcloudy commented on #41
I don't see why manually adding a mirror url will be better? But yes, we use http_archive under the hood, so it is possible to add this support.

[2022-06-13 14:36] aiuto commented on #41
When I push releases I mirror them myself, so the WORKSPACE stanza that I publish looks right.
There is no need for the BCR to repeat that mirror. At a minimum, it needs to gracefully do nothing if it finds that the file is already mirrored.
And.... download data is valuable to rule owners. They might want the ability to mirror to a location where they can get download stats.  We should not limit

[2022-06-15 07:51] Breakerzoe1 opened #105 "Htet Corporation"
Myanmar Social Connectivity

[2022-06-15 09:27] #105 closed

[2022-06-17 08:46] pjk25 opened #112 "Option to ignore module overrides in deps"
Particularly at this stage when testing bzlmod, it's common in my experience to make liberal use of the various `bazel_dep` overrides, like `archive_override`. It would great to allow the build to just ignore or warn on the overrides present in `bazel_dep`s, particularly when an override pulls in other overrides. This won't be a big deal when it's easier to provide alternate bzlmod registries, but

[2022-06-20 07:06] pjk25 commented on #32
https://docs.bazel.build/versions/5.0.0/bzlmod.html#registries mentions "In the future, we plan to add support for single-module registries, which are simply git repos containing the source and history of a project."

Certainly the central registry is convenient, but I wonder if it will in fact end up being the place where most modules live? If it's common to have multiple registries, then I think

[2022-06-21 13:42] meteorcloudy commented on #41
The mirror isn't hard-coded in Bazel, it's part of the configuration of the BCR, see [bazel_registry.json](https://github.com/bazelbuild/bazel-central-registry/blob/main/bazel_registry.json). If a user uses modules from the BCR, they should expect a mirror configured by the BCR repo to be used. We verify the archive by the same integrity value, so nothing could go wrong. There is also the UrlRewri

[2022-06-21 14:12] Wyverald commented on #112
You can already do so with the `--registry` flag. Or do you mean something else?

This is not so easy. What if two dependencies both have a dependency on some module, but provide different patches?

The best we could do is to optionally allow depending on modules with overrides (and ignore such overrides), which I assume is what your original request is.

[2022-06-22 18:25] pjk25 commented on #112
I meant creating and hosting a registry, though since I haven't tried it, maybe it's not difficult. For instance, RabbitMQ could benefit from having around 6 modules, some closed source, in a private registry for our builds.

I meant that if you wanted to depend on a module B with overrides from a root module A, you could include B via and override that patches out the overrides declared in module

[2022-06-23 10:02] pjk25 commented on #112
Thanks @alexeagle , I'll give that a try.

[2022-06-28 18:29] eklitzke opened #116 "wanted: re2-abseil"
I am trying to port a personal project to use bzlmod and bazel-central-registry, and one annoyance I've found is that the version of re2 in this repo is from the `main` branch. The re2 project also maintains an `abseil` branch which adds a dependency on abseil and has additional features not present in main (for example one that I rely on a lot is that the `abseil` branch has ubiquitous support fo

[2022-06-28 19:15] alexeagle opened #117 "Provide a read-only web UI"
The registry can be searchable and present metadata using permalink URLs.

https://bcr-web-ui-hobofan.netlify.app/ is a start.

[2022-06-28 19:45] alexeagle opened #118 "Add source repository to metadata.json format"
We could do it like npm does in `package.json`: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#repository

[2022-06-28 20:03] Wyverald commented on #116
An easy way out is to have an `re2-abseil` module.

[2022-06-29 12:23] Wyverald opened #119 "Presubmit check to ensure "append-only"-ness"
No PRs should alter the contents of existing module versions. This includes anything under the `/modules/$NAME/$VERSION` directories.

[2022-06-29 12:24] Wyverald opened #120 "Presubmit check to ensure consistency between duplicate pieces of information"
Right now, the only thing I can think of is that the list of versions in `/modules/$NAME/metadata.json` and the directories under `/module/$NAME` should match.

[2022-06-29 12:26] Wyverald commented on #120
Oh and the MODULE.bazel should match the one in the source archive, to prevent any sneaky bad actors from doing weird things.

[2022-06-29 12:27] Wyverald opened #121 "Move the BCR content syncing pipeline to the "bazel-trusted" BuildKite org"
For better security. @meteorcloudy for more detailed information

[2022-07-05 11:34] meteorcloudy opened #123 "Document the push-to-bcr Github App"
https://github.com/apps/publish-to-bcr has been developed by the Bazel Rules SIG to make it easy to publish a project to the Bazel Central Registry. We should document and advocate its usage.

/cc @alexeagle

[2022-07-05 15:31] meteorcloudy opened #124 "Upstream Bzlmod changes to original repositories"
As part of https://github.com/bazelbuild/bazel-central-registry/issues/7, there were many Bazel modules checked in the BCR with custom MODULE.bazel files and patches while the original project doesn't natively support Bzlmod. To drive the Bzlmod migration in the community, we need help to upstream the MODULE.bazel files and patches back to the original repositories.

The list of modules in the BCR

[2022-07-05 17:00] alexeagle commented on #124
For anyone who'd be motivated by a payout for helping here, there's money in the https://opencollective.com/bazel-rules-authors-sig which we can turn into a bug bounty here.

[2022-07-05 17:01] alexeagle commented on #124
Here's a start for rules_python https://github.com/bazelbuild/rules_python/pull/744

[2022-07-07 11:59] meteorcloudy commented on #121
This one is fixed.

[2022-07-07 11:59] #121 closed

[2022-07-08 10:13] Wyverald opened #127 "Migrate existing modules to the new toolchain registration API"
See https://github.com/bazelbuild/bazel/issues/15829

This:

[code]

should become this:

[code]

[2022-07-08 14:46] alexeagle commented on #127
Is there some min,max version of Bazel where both ways are supported, to allow the transition?

[2022-07-08 20:55] alexeagle commented on #123
@kormide is working on it.

[2022-07-08 20:56] alexeagle commented on #117
Now it's deployed at http://bazelbuild.github.io/bazel-central-registry

[2022-07-11 03:00] alexeagle commented on #124
FYI I checked off rules_nodejs - I don't think it belonged on that list though, since no file for it was ever committed as part of #7. (same for rules_sass - I assume those are only needed for building some documentation site and not for the bazel binary, so they were omitted from #7 as not strictly needed for building Bazel)

[2022-07-11 08:44] meteorcloudy commented on #127
The support for the old API isn't deleted at HEAD yet (the BCR presubmit uses Bazel@HEAD), but we'll probably delete them before 6.0 cut. Since Bzlmod is still under an experimental flag, I think that should be enough?

@Wyverald Do you think we need to cherry-pick recent Bzlmod changes into 5.3?

[2022-07-11 08:46] meteorcloudy commented on #117
I just got approval for using https://registry.bazel.build as a custom domain for this Github Page, working on set this up!

[2022-07-11 09:02] meteorcloudy commented on #124
@alexeagle Regardless of #7,  `rules_nodejs` still fits the definition of "The list of modules in the BCR that already natively supports Bazel but not yet migrated to Bzlmod", right?
Don't you think rules_nodejs should also support Bzlmod natively giving "aspect_rules_js" still depends on it?

[2022-07-11 09:29] meteorcloudy opened #130 "Add CODEOWNER for each module"
Ideally the maintainers of each module should be added as Code Owners of the module directory, so that pull requests for that module can be assigned to them for review automatically.

@Wyverald @alexeagle WDYT?

[2022-07-12 00:10] alexeagle commented on #130
yup, I think we can adapt rules_codeowners to keep a central CODEOWNERS file up-to-date, I can send a PR as I've wired that up before for Angular.

[2022-07-12 04:23] alexeagle commented on #124
Sure, I was a bit too pedantic there - rules_nodejs is migrated to bzlmod already.

[2022-07-12 07:51] pjk25 commented on #112
Forking BCR did turn out to be useful, but after additional testing, I've found that it's not enough for our use case. Essentially what would be most useful to us would be a way to have a private registry. There are some modules that I would like to reference across sub-projects in RabbitMQ, but that I wouldn't submit to BCR as they are private. Even for the public ones, I'd rather not have a long

[2022-07-12 07:59] hobofan opened #131 "Add additional module metadata.json fields"
Right now the data contained in the metadata.json fields is very focused on pure technical package management functionality.

Especially for discoverability, it would be nice also to have some additional metadata:
- Source repository (#118)
- Documentation URL - Optional URL to a hosted rendered version of the documentation
- License - SPDX license expression for the license governing the module s

[2022-07-12 08:46] meteorcloudy commented on #112
@Wyverald Yeah, I think we should just ignore the overrides in non-root modules and not throw an error.

[2022-07-12 08:51] meteorcloudy commented on #131
All sounds good, but for license, we probably want to coordinate with @aiuto who is maintaining rules_license. We had a discussion about whether we should declare license in the metadata.json or in the BUILD file with rules_license. I think rules_license was preferred since it can also be integrated with other module extensions that pulls third party dependencies.

[2022-07-12 09:49] fmeum commented on #131
There is even a another appealing option the `rules_license`-based approach could offer: Definining a module-level default license by using a module tag provided by `rules_license`.

[2022-07-12 09:58] Wyverald commented on #112
can you host `[custom-plugin]` and `[rabbitmq-server]` in your own private registry? In case you weren't aware, the `--registry` flag can be specified multiple times so you can use multiple registries (for example, your own private registry first, followed by https://bcr.bazel.build/)

The reason we decided to error on overrides in deps instead of silently ignore them is that we *might* one day tr

[2022-07-12 10:13] pjk25 commented on #112
I was aware that multiple registries can be used, though I would probably have to figure out how to authenticate access. Using `git_override` makes it easy to access a private repo.
I think if ignoring the non-root overrides was an opt-in flag, then your options remain open. I can see how the presence of overrides would be indicative of non-public or dev modules, and erroring on their presence by

[2022-07-14 08:47] pjk25 commented on #112
Thinking about this further, `bzlmod` doesn't seem well suited to private repos, as `source.json` doesn't seem to have a notion of authenticated access to archives?

[2022-07-14 19:08] Wyverald commented on #112
Might be related: https://github.com/bazelbuild/bazel/issues/15286

[2022-07-15 11:29] pjk25 commented on #112
That seems to be about registry authentication - I guess private registry support would need both, registry auth and module source auth.

[2022-07-15 11:32] pjk25 commented on #112
I suppose the workaround for registry auth is to clone a private registry to the local disk, and use it as a local directory index registry.

[2022-07-25 08:22] meteorcloudy opened #137 "Align registry.bazel.build style with Bazel DevSite"
To provide better user experience, we should align the UI design of registry.bazel.build and bazel.build. However, the Bazel DevSite is not yet in its final form yet. We'll provide style guide and illustration/ icon assets when it's done.

[2022-07-25 08:23] meteorcloudy commented on #137
FYI @hobofan @philomathing

[2022-07-26 08:51] jsharpe opened #139 "Tooling to validate presubmit.yml"
It'd be useful to have tooling to validate the presubmit.yml file is correctly formatted / follows the correct schema as it is not really documented anywhere what the correct format is and the current workflow relies on copy and paste from other modules.

[2022-08-03 16:19] alexeagle commented on #130
I'd like to land #86 first so that we have a Bazel workspace in this repo, then I can add rules_codeowners to that.

[2022-08-05 15:58] aiuto commented on #131
We actually need both.  BCR should have a place to hang canonical package name, version, copyright, license, and a few other things.  Repository rules and bzlmod should be able to use that to build license() declarations into BUILD files.    I'm working on adding the metadata to rules_license currently.

[2022-08-16 04:56] MaleicAcid opened #156 "Use scripts from tools directory within private central registry"
Hi all, I am trying to use bzlmod and make a private central registry. I found these scripts in the tools directory are used in the process. Is it possible to wrap these scripts as a separate module so that other private repositories can easily update them?

Another problem is if my archive url address is not public to everyone, which have to carry a token parameter when downloading. This situatio

[2022-08-29 19:17] QuantamHD opened #163 "Upstreaming dependency_support from bazel_rules_hdl"
Hi,

Also a Googler. I have a pretty extensive set of dependency support package in [bazel_rules_hdl](https://github.com/hdl/bazel_rules_hdl/tree/main/dependency_support) that might be useful to upstream here.

The packages in there are all built hermetically from source, as such, they represent the full DAG of all the packages.

[2022-08-30 06:06] fmeum commented on #163
These projects would be a great addition to the BCR.

I noticed that some projects are patched to use Bazel runfiles. This will definitely lead to issues before https://github.com/bazelbuild/bazel/issues/16124 has been fixed, but that is actively being worked on.

[2022-08-30 09:15] meteorcloudy commented on #163
@QuantamHD Yes, we would love to accept PRs to add those dependencies as Bazel modules.

[2022-09-12 12:54] mattyclarkson commented on #127
We've been testing across Bazel stable releases after 5.0.0.

This just broke our CI when testing against anything other than 5.3.0.

It's not a problem, we'll just drop support for 5.2.0 and below but certainly confused us for 15 minutes why the API didn't suddenly exist.

Looking forward to `bzlmod` becoming non-experimental: we _really_ like it :)

[2022-09-12 13:07] Wyverald commented on #127
To be clear, we haven't removed the old API from HEAD yet. @meteorcloudy's change merely migrated existing modules to use the new API, which is what broke you since the new API wasn't available before. (But now that that's done, I can remove the old API)

Sorry about the inconvenience!

[2022-09-12 13:47] meteorcloudy commented on #127
@mattyclarkson Sorry for the confusing.
It's recommended to test Bzlmod with Bazel@HEAD, since we are making lots of improvements to it.
If you are using Bazelisk, just set `USE_BAZEL_VERSION=last_green`

[2022-09-12 14:49] #127 closed

[2022-09-14 14:21] fmeum commented on #131
I think that we should make the source repository required information: In order to prevent obviously malicious updates, we need to ensure that the download links for a new module version match the original repo.

[2022-09-15 13:48] aiuto commented on #131
Another thing which might be interesting to detect malicious update is to splice in the IP address and reverse DNS on that of the uploader.  That might be a PII problem though.

[2022-09-15 14:06] aaliddell commented on #131
Note that trusting based on GitHub URL prefix gives absolutely no guarantees about source provenance, due to all forks of a repo sharing the same internal git state.

For example, this commit is on my fork of the Bazel repo but **has not** been merged to any branch on the upstream repo: https://github.com/aaliddell/bazel/commit/bd1097d166c5ed20456602b4b236f1410b66ab90

Using this commit hash I can

[2022-09-15 14:06] fmeum commented on #131
A more reliable identifier for this would be the GitHub user ID. Modules could maintain a list of user IDs permitted to update the module.

Before we do anything, we should research other registries and their approaches to security. Doing this right requires a proper top-down design.

[2022-09-15 14:08] fmeum commented on #131
AFAIK (but this should be checked) this is only a problem for `/archive/<commit hash>.zip` style URLs. The BCR already rejects such URLs in favor of `/archive/refs/tags/<tag>.zip`, which should only reflect tags created on the repository itself, not a fork.

As I said above, all of this is pretty subtle and should probably go through a proper security design and review process.

[2022-09-19 14:47] AleksanderGondek commented on #127
That would be nice, I have been testing bzlmod with 5.3.0

[2022-09-26 17:31] pjk25 commented on #112
Recently with `5.3.1`, I've noticed that it no longer seems possible to use `patches` on a `git_override` to remove any overrides declared by that module. Was this intended? Again, I think a switch to just ignore those overrides would be very useful.

[2022-09-26 23:32] alexeagle commented on #123
I think this is done, right @kormide ?

[2022-09-26 23:43] kormide commented on #123
Yup

[2022-09-27 00:44] #123 closed

[2022-10-05 13:45] aaronmondal opened #204 "wanted: jmillikin/rules_{bison, m4, flex}"
We are currently transitioning our (now deprecated) [`bazel-eomii-registry`](https://github.com/eomii/bazel-eomii-registry-deprecated) to become a fork of the `bazel-central-registry`. We want to upstream the modules that are not reliant on our [`rules_ll`](https://github.com/eomii/rules_ll) to this repo, since I believe they would be useful for more users.

The repos [`rules_m4`](https://github.c

[2022-10-05 14:54] aaronmondal opened #205 "What are the policies for rapidly changing modules and non-standard release versions?"
Most of our modules only change weekly or monthly, but sometimes we cut several releases in a day. Are there any guidelines on how frequently things can change in the central registry?

Also, what is the policy on using non-tag/non-release versions of repos? We use aggressively upstream compiler toolchains, so downstream repos tend to frequently raise deprecation warnings or simply fail to build.

[2022-10-05 15:22] aaronmondal opened #206 "wanted: llvm/llvm-project"
Users working with (or on) LLVM may require very recent versions of the repo. We have module patches for the llvm-bazel-overlay but found that it would be better to add a module here first before upstreaming patches to LLVM main.

Would it be OK for us to add a module with patches here so that we can upstream the patches later to the main LLVM repo? We would want to update such a module probably a

[2022-10-05 15:39] Wyverald commented on #205
cc @meteorcloudy

I don't believe we have a policy for frequent releases right now. Preferably only somewhat stable versions should be submitted to the central registry, but given the existence of "live at head" projects such as Abseil and upb, I think having unreleased/pre-release versions is unavoidable. The good thing is that we do support pre-release versions as denoted in the semver spec, so

[2022-10-05 16:18] aaronmondal commented on #205
@Wyverald Dependencies for [`rules_ll`](https://github.com/eomii/rules_ll) and rules_ll itself. Usually we only release like once or twice a month, but we've had a case before where we had to hotfix issues like 3 times within a few hours :sweat_smile: This is mostly not the case though, and a theoretical max cap like once a day is completely fine for us.

With `rules_ll` specifically, I'm not sure

[2022-10-05 16:26] Wyverald commented on #205
OK, so it sounds like the multiple-releases-per-day thing is expected to be the exception, not the norm, in which case I'm totally okay with this.

Also note that we don't intend every single released version of a project to be available in BCR, so you could also wait for a day before submitting a new release into BCR ("baking" it, if you will), if you really need to avoid the frequent updates.

[2022-10-05 16:42] meteorcloudy commented on #205
Just want to mention that  PRs still take some time to review (possibly longer than 1 day), so even if you have multiple hot fixes for a release, it's likely that when we receive the PR for the last release we can just discard previous unmerged PRs.

I do know a use case that the project needs to depend on a specific commit and update the dependency multiple times in a day.  TensorFlow: https://gi

[2022-10-17 11:59] meteorcloudy commented on #117
This is done ;)

[2022-10-17 11:59] #117 closed

[2022-10-17 12:00] meteorcloudy commented on #41
This is taken care of by https://github.com/apps/publish-to-bcr

[2022-10-17 12:00] #41 closed

[2022-10-21 21:27] aaronmondal commented on #206
Patches still WIP. Started upstreaming to LLVM as well.
For those interested, a "buildable" variant is now at https://github.com/eomii/bazel-eomii-registry/tree/llvm-project-overlay/modules/llvm-project-overlay, which can be enabled by adding
[code]
to `.bazelrc`. The toolchain is buildable, but a few clang headers, are missing (easy fix, just didn't get around to it yet) and I think i messed some

[2022-10-21 21:30] aaronmondal commented on #205
Closing as my questions have been answered :relaxed:

[2022-10-21 21:30] #205 closed

[2022-10-24 08:03] meteorcloudy commented on #118
Fixed in 336ce20364d366d07eb6cd453a0359f08b3b25ef

[2022-10-24 08:03] #118 closed

[2022-10-31 16:12] meteorcloudy commented on #119
Implemented in https://github.com/bazelbuild/continuous-integration/pull/1471

[2022-10-31 16:12] #119 closed

[2022-11-02 20:22] #120 closed

[2022-11-06 04:16] rverma-dev opened #262 "wanted: bazelbuild/rules_docker"
Can we add https://github.com/bazelbuild/rules_docker to the registry too?

[2022-11-07 11:26] meteorcloudy commented on #262
Can you file this issue to the rules_docker repository? Apparently, they are still stuck with Bazel 4.0 (https://github.com/bazelbuild/rules_docker/blob/master/.bazelci/presubmit.yml#L6), which doesn't even support the experimental version of Bzlmod.

[2022-11-07 20:35] aaron-michaux opened #266 "Make "com_envoyproxy_protoc_gen_validate" it's own module"
Grpc uses `com_envoyproxy_protoc_gen_validate` through module extensions:

[code]

However these cannot be picked up transitively, presenting problems if we want to use `com_envoyproxy_protoc_gen_validate` in our own project.

Can we have `grpc` depend on `com_envoyproxy_protoc_gen_validate` as a module? Which would, of course require supporting `com_envoyproxy_protoc_gen_validate` as a module.

[2022-11-08 09:26] meteorcloudy commented on #266
Make sense, but I would prefer those issues to be at least also filed to the original repository since it's not BCR maintainer's responsibility to modularize those dependencies.

In the meantime, if you want to use the same version of `com_envoyproxy_protoc_gen_validate` in grpc, maybe you can just do
[code]
in your root project's MODULE.bazel file?

[2022-11-08 09:30] meteorcloudy commented on #55
Fixed in https://github.com/bazelbuild/bazel-central-registry/pull/227

[2022-11-08 09:30] #55 closed

[2022-11-09 10:26] meteorcloudy commented on #137
Colour platte for Bazel DevSite:
[code]

[2022-11-09 10:28] meteorcloudy commented on #137
@hobofan Can you give some pointers to how to change the color of the web ui so that it matches bazel.build better?

[2022-11-09 10:32] hobofan commented on #137
@meteorcloudy All the styling in the bcr-ui is done via TailwindCSS (and are being applied via generated CSS classes). Most of colors we use right now come from their default color palette, but there are also a few that we add additionally.

See https://tailwindcss.com/docs/customizing-colors for the general doc.
https://github.com/bazel-contrib/bcr-ui/blob/main/tailwind.config.js is where we have

[2022-11-09 10:36] meteorcloudy commented on #137
Cool! I'll send a PR to adjust the bzl-green color, thanks!

[2022-11-11 10:16] meteorcloudy commented on #139
This is now documented in https://github.com/bazelbuild/bazel-central-registry/tree/main/docs#anonymous-module-test

A validation is probably not necessary since if it's malformed, the presubmit test will just fail.

[2022-11-11 10:19] meteorcloudy commented on #89
This issue probably no longer appears?

[2022-11-11 10:19] #89 closed

[2022-11-18 22:00] jsharpe opened #283 "add_module.py should add a patch to add MODULE.bazel"
This was generated with the add_module.py tooling; it should be updated to add the module file patch automatically.

_Originally posted by @jsharpe in https://github.com/bazelbuild/bazel-central-registry/issues/282#issuecomment-1320571992_

[2022-11-22 14:14] kirschem opened #287 "Patch fails in rules_python @0.14.0"
When adding rules_python in the latest version 0.14.0, bazel fails to apply the patch:

`external/rules_python.0.14.0/.tmp_remote_patches/module_dot_bazel.patch: Expecting more chunk line at line 10`.

However, when I apply the patch manually with the `patch` command, it works.

This seems to be the relevant code in bazel: https://github.com/bazelbuild/bazel/blob/bc087f49584a6a60a5acb3612f6d714e31

[2022-11-22 14:54] fmeum commented on #287
@kormide Do you know what the difference is? An early EOF that Bazel's patch implementation doesn't accept?

@meteorcloudy The presubmit passed for this, which seems to indicate that the patch is applied in different places.

[2022-11-22 15:59] kirschem commented on #287
Judging from the output, it looks like the presubmit uses the `patch` command instead of going through bazel's patch logic.

[2022-11-22 16:25] kirschem commented on #287
I can reproduce this when adding the following test to bazel [here](https://github.com/bazelbuild/bazel/blob/master/src/test/java/com/google/devtools/build/lib/bazel/repository/PatchUtilTest.java#L120-L144):

[code]

[2022-11-22 17:27] fmeum commented on #287
CC @kormide

[2022-11-22 17:28] fmeum commented on #287
I will try to understand why this applies with native patch and fails with Bazel's implementation, maybe we can make the latter one more lenient. Thanks for the test case, that will come in handy!

[2022-11-22 17:59] kormide commented on #287
I manually created this patch using git diff (then removing the prefixes). Not exactly sure how the line numbers were wrong, but I assumed it worked since it passed CI.

[2022-11-24 07:24] chenyuanrun opened #292 "wanted: nelhage/rules_boost"
Can somebody add boost support for bcr? Or may you accept a PR to add boost?

[2022-11-24 08:10] fmeum commented on #292
Contributions in this area would be very welcome. https://github.com/nelhage/rules_boost appears to be a promising candidate for BCR inclusion.

[2022-11-26 17:17] yl7890 commented on #292
+1, but Boost is a very large repository and will likely need many maintainers. Some immediate questions:

- Do we want to include boost directly? Or do we want to include nelhage/rules_boost?
- If the former, is it better to have one monolithic boost repo? (e.g. boost/) or is it better to have many subrepos? (e.g. boost-accumulator, boost-any, etc...). Note that vcpkg seems to have both.
- If the

[2022-11-26 20:18] zaucy commented on #292
In the past I did fork the individual boost repositories and add BUILD and WORKSPACE files to them. https://github.com/bazelboost. No MODULE files since I did this before bcr was available. What I did was have the individual repositories and a single repository that creates an `alias` similar to the boostorg repository. Example alias `@boost//libs/mp11:mp11` -> `@com_github_bazelboost_mp11//:mp11`

[2022-11-26 21:42] aaronmondal commented on #292
Looks to me like the rules_boost BUILD.bazel is actively maintained, but I'm not sure whether this covers all libraries: https://github.com/nelhage/rules_boost/blob/master/BUILD.boost. I do agree though that the custom `boost_library` rules seem rather unnecessary to me. I think it would be a bit nicer to have "raw" rules_cc.

If it helps, I also played around with overlaying boost a while ago. Bo

[2022-11-28 14:32] meteorcloudy commented on #287
I think the reason the presubmit passed is because we only have `bcr_test_module` test in https://github.com/bazelbuild/bazel-central-registry/pull/286/files#diff-d0c31861747eedc28c0d4eeca25591a11e59acf25741f5e519f0963cf01a191aR1, which means the source archive was downloaded and patched by the [bcr_presubmit.py](https://github.com/bazelbuild/continuous-integration/blob/master/buildkite/bazel-cent

[2022-11-28 15:14] fmeum commented on #287
@meteorcloudy I think I don't quite understand this process: Doesn't this only set up the test module in a way that doesn't go through Bazel? The test module should then cause the tested module to be loaded by Bazel and should thus have failed in the same way as reported in this issue.

If that isn't how it works, I would be more comfortable with making test module tests more realistic rather than

[2022-11-28 15:21] Wyverald commented on #287
IIUC the Python script downloads and unpacks the entire source archive, which contains both the test module and the module under test. The test module simply uses the module under test with a local path override.

Agreed, I often find myself confused by the setup as well -- would be nice to unify the two ways somehow.

[2022-11-28 16:31] meteorcloudy commented on #287
The test module can actually depend on the target module with a normal `bazel_dep`, which would work, but I think that makes it hard to run the test module locally at HEAD because you don't have the version available, then you'll need to add a `local_path_override` and remember to remove it before creating the release. Also it's hard to verify if a test module actually follows this in the BCR pres

[2022-11-28 16:47] Wyverald commented on #287
We could actually just build `@module_name//:whatever`, which will probably fail since the target `whatever` doesn't exist, but by that time the module would have already been fetched. Admittedly a bit hacky, but it could work :P

[2022-11-28 17:15] meteorcloudy commented on #287
Yeah.. we can do that to use Bazel to fetch the source, but then we'll need to distinguish the failure type by parsing the error message, which could work but not very nice 😅

[2022-11-28 18:18] fmeum commented on #287
How about a wildcard with a more lightweight command such as `bazel build --nobuild @module_name//...` or `bazel query @module_name//...`? Or could modquery be used to trigger a fetch?

[2022-11-29 11:09] meteorcloudy commented on #287
I just found out that `bazel fetch` also works with Bzlmod enabled, and `bazel fetch @module_name//...` seem to cause less packages being loaded that `bazel build --nobuild @module_name//...`.